
<div class="container">
    <h2 class="">Projeto Feito em Angular </h2>
    <div class="row">
        <div class="col-md-4">
    <h3>Disciplina: </h3>Desenvolvimento Móvel 
    <h3> Professor:</h3> Marcelo Loutfi 
    <h3> Curso:</h3>Ciência da Computação
    </div>
    <div class="col-md-8">
   <h3>Alunos:</h3> 
    Allan Fonseca de Oliveira <br> <br>
    Julio Fonseca da Silva Luiz
    <br> <br>
    <h4>Aplicativos Criados</h4>
    Calculadora Digital <br>
    Calculadora Binaria 
    </div>
</div>
</div>
