
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <h1 class="text-warning">Minha Calculadora</h1>
    <ul class="navbar-nav ml-3">
      <li class="nav-item">
        <a class="nav-link text-uppercase" routerLink="/apresentacao" routerLinkActive="active">Apresentação</a> <br>
        </li>
      <li class="nav-item ">
    <a class="nav-link text-uppercase" routerLink="/digital" routerLinkActive="active">Calculadora-digital</a> <br>
    </li>
    <li class="nav-item">
  <a class="nav-link text-uppercase" routerLink="/binaria" routerLinkActive="active">Calculadora-Binaria</a> <br>
  </li>
  </ul>
  </nav>
  
  <router-outlet></router-outlet>
  
  